{
  "name": "LHGH Credentials",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "",
  "artifactName": "",
  "packageVersion": "2.1",
  "codeVersion": "2.1",
  "author": "Sumit Kumar",
  "commands": []
}